* {
  margin: 0;
  padding: 0;
}

.container > div,
.footer,
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: rgb(89, 148, 148);
}
.article {
  background-color: #d0f1f5;
  padding: 0.5rem;
}

html,
body {
  background-color: white;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #bce758f1;
}

.container > div:nth-child(3n) {
  background-color: #cddddf;
}

.container > div:nth-child(3n) > div {
  background-color: #cddddf;
}

.container > div:nth-child(2n) {
  background-color: #cddddf;
}

.container > footer {
  background-color: white;
}
